Options -Indexes
<Files .htaccess>
  Deny from all
</Files>

<IfModule mod_rewrite.c>
RewriteEngine on
RewriteRule ^deploy_service$ deploy_service.php [QSA,L]
RewriteRule ^ecrf_service/(.*)$ ecrf_background_service.php?function=$1 [QSA,L]

RewriteCond %{REQUEST_URI} !^/services/vampire_service/(ecrf_background_service|deploy_service|rest_service)\.php$
RewriteRule ^(.*)$ rest_service.php?function=$1 [QSA,L]
</IfModule>
